<app-navbar></app-navbar>
<div class="jumbotron text-center">
    <h1 class="display-4">Contact us</h1>
    <p class="lead">Quick resolution of queries and complaints.</p>
</div>
<!-- <div class="container">
    <section>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto possimus accusamus laborum, tempore dolorem,
            exercitationem nostrum quidem nulla repellat nisi perspiciatis debitis suscipit? Aliquam amet, consectetur,
            fuga accusantium labore veniam temporibus voluptatum quos natus repudiandae fugit numquam illo culpa,
            officia dolores magnam accusamus aperiam architecto error? Neque nemo molestias saepe.
        </p>
    </section>
</div> -->
<div class="container contact-form">
    <div class="contact-image text-center">
        <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
    </div>
    <form method="post">
        <h3>Drop Us a Message</h3>
       <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                </div>
                <div class="form-group">
                    <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <div class="form-group">
                    <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>