<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Hello {{name}}</h1>
        <p class="lead">Great Festival sale is LIVE NOW. Get your groceries at your doorstep with upto 60% offer.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" routerLink="/about" role="button">More about us</a>
        </p>
    </div>
</div>