<app-navbar></app-navbar>
<div class="jumbotron text-center">
    <h1 class="display-4">About us</h1>
    <p class="lead">This is our page</p>
</div>
<div class="container">
    <section>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto possimus accusamus laborum, tempore dolorem,
            exercitationem nostrum quidem nulla repellat nisi perspiciatis debitis suscipit? Aliquam amet, consectetur,
            fuga accusantium labore veniam temporibus voluptatum quos natus repudiandae fugit numquam illo culpa,
            officia dolores magnam accusamus aperiam architecto error? Neque nemo molestias saepe.
        </p>
    </section>
</div>